body {
  /* Main Page */
  font-family: "roboto", sans-serif;
  position: relative;
  width: 1440px;
  height: 3300px;
  background: #ffffff;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
a {
  text-decoration: none;
  align-items: center;
  list-style-type: none;
  display: flex;
}
/* Logo */
header {
  /* Top Line */

  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

/* Auto layout */
.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  /* Web */

  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Studio */
.Studio {
  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Menu Nav */
.menu-nav-box {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.menu-nav-text {
  width: 48px;
  height: 24px;

  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.menu-nav-mail {
  /* info@devstudio.com */

  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}
.menu-nav-tel {
  /* +11 (000) 111-11-11 */

  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}
nav {
  align-items: center;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 347px;
}
/* hero section */
.hero-section {
  /* Dark-bg */

  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  /* NAVY BLUE */
  background: #2e2f42;
}
/* Effective Solutions for Your Business */
h1 {
  position: absolute;
  margin-top: 188px;
  margin-bottom: 200px;
  margin-right: 472px;
  margin-left: 472px;
  /* Header 1 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */
  color: #ffffff;
}
/* Button */
.button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  margin-top: 356px;
  margin-bottom: 188px;
  margin-left: 636px;
  margin-right: 636px;

  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Order Service */
.button-text {
  width: 105px;
  height: 24px;

  /* Button Text */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Section 1 */
.Section-1 {
  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}
.section-1-ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
}
/* Strategy */
.strategy {
  width: 264px;
  height: 24px;

  /* Header 3 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Our goal is to identify the business problem to walk away with the perfect and creative solution. */
.strategy-text {
  width: 264px;
  height: 72px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Section 2 */
.section-2 {
  /* Light-bg */

  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1016px;

  /* CLOUD */
  background: #f4f4fd;
}
.our-team-hero {
  /* Our Team */
  margin-top: 120px;

  /* Header 2 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;
}

.our-team-box-mark {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: 50px;
  margin-right: 0;
}
.our-team-box-Daniel {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: 0;
  margin-right: 50px;
}
.our-team-box {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: 6px;
  margin-right: 6px;
}
.our-team-h3 {
  width: 134px;
  height: 24px;

  /* Header 3 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.our-team-p {
  /* Product Designer */

  width: 128px;
  height: 24px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Section 3 */
.section-3 {
  position: absolute;
  width: 1128px;
  height: 1000px;
  left: 156px;
  top: 1868px;
}
.Our-Portfolio-hero {
  /* Our Portfolio */

  /* Header 2 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;
}
.Our-Portfolio-box {
  /* Project Card 1 */

  width: 360px;
  height: 420px;
  left: 156px;
  top: 1980px;

  /* WHITE

Header background, team card background
*/
  background: #ffffff;
  border: 1px solid #e9e4e4;
}
.Our-Portfolio-img {
  /* img */

  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;

  background: url(4074365.jpg);
  mix-blend-mode: normal;
}
.Our-Portfolio-h3 {
  /* Banking App */

  /* Header 3 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 32px;
  margin-left: 16px;
}
.Our-Portfolio-p {
  /* App */

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 8px;
  margin-left: 16px;
}

/* Footer */
footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2988px;

  /* NAVY BLUE */
  background: #2e2f42;
}
.Logo02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  /* Web */

  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 75px;
  margin-left: 32px;
}
.footer-text {
  /* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */

  width: 264px;
  height: 72px;
  left: 156px;
  top: 3128px;
  margin-top: 130px;
  margin-left: 190px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;

  /* CLOUD */
  color: #f4f4fd;
}

.logo-wide {
  /* Studio */

  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */
  color: #f4f4fd;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
